*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}



html{
    box-sizing: border-box;
    scroll-behavior: smooth; /* Comportamento de rolagem */
    /* ajustando o problema de ancora comendo os titulos */
    scroll-padding-top: 70px;
    
}

:root{
    font-size: 62.5%;
    --primary-color: hsla(170, 100%, 26%);
    --secondary-color: hsla(210, 9%, 31%);
    --section-blue: hsla(202, 88%, 76%);
    --section-yellow: hsla(72, 87%, 79%);
    --section-green: hsla(133, 87%, 79%);
    --section-brown: hsla(0, 8%, 20%);
    --section-black: hsla(0, 0%, 15%);
    --color-check: hsla(148, 23%, 89%);


}

body{
    font-size: 16px;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    
}

/* menu */

#header{
    background-color: var(--primary-color);
    height: 7.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7.2rem;
    
}

#header #logo{
    text-transform: uppercase;
    
}

#header nav a{ 
    color: white;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    font-weight: bold;
        
}
#header nav .aula a{ 
    color: var(--primary-color);
    font-size: 1.8rem;
    

}



.menu{
    display: none;
}




#header img{
    cursor: pointer;
}




/* MENU ABERTO CLASS SHOW */

.show{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 7.2rem ;
    background-color: var(--primary-color);
    z-index: 3;
}

.show ul{
  display: grid;
  row-gap: 4rem;
  margin-top: 2rem;

  
}

.show a{
    color: white;
    font-size: 2.4rem;
}

.show .aula{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    width: 22.7rem;
    height: 5.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.8rem;
    margin-bottom: 3rem;
    color: var(--primary-color);
    border-radius: 4rem;
    border: none;
}

.show .alinhar{
    display: flex;
    justify-content: center;
}
.show .alinhar a{
    padding: 10px;
}

#amburguer.show{
    display: none;
   
}



#close.show{
    display: none;
    
}





/* Home conteudo */

#home{
    margin-left: 2.1rem;
    margin-left: 2.1rem;
    height: 78.2rem;
   
}

#home .conteudo h1{
    font-size: 1.4rem;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
    font-weight: bold;
    padding-top: 10rem;

}

#home .conteudo h2{
    font-size: 1.6rem;
    margin-bottom: 3.3rem;
    font-weight: bold;
}

#home .conteudo p{
margin-bottom: 3.3rem;
}

.agendar{
    background-color: var(--primary-color);
    height: 5.2rem;
    width: 22.7rem;
    color: white;
    border-radius: 4rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7.3rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

#home .conteudo figure{
    display: flex;
    flex-direction: column;
    margin-bottom: 10.5rem;
    width: 323px;
    margin-left: auto;
    margin-right: auto;
}


/* SERVIÇOS */

#servicos{
    background-color: var(--section-blue);
    height: 1799px;
}

#servicos h2{
    color: var(--primary-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-top: 2.9rem;
    margin-bottom: 1.6rem;
}

#servicos .paragrafo{
   font-size: 3rem; 
   color: var(--secondary-color);
   font-weight: bold;
   text-shadow: var(--secondary-color) 1px 4px 4px;
   margin-bottom: 3rem;
}

.artigos{
    display: grid;
    gap: 3rem;
    justify-content: center;
    text-align: justify;
    

}

article{
    display: grid;
    border: none;
    background-color: white;
    width: 30.3rem;
    height: 18.3rem;
    padding: 2.4rem;
    border-radius: 0.6rem;
    
    
}

article img{
    background-color: var(--color-check);
    clip-path: circle();
    padding: .50rem;
    
}

article h3{
    font-size: 2.4rem;
    font-weight: bold;
    color: #212529;
}

article p{
    color: var(--secondary-color);
    font-size: 1.6rem;
}

/* SOBRE NOS*/

#sobre{
    height: 1169px;
    background-color: var(--section-yellow);
    padding-left: 2.1rem;

}

#sobre h2{
    padding-top: 7.4rem;
    text-align: left;
    color: var(--primary-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#sobre h3{
    font-size: 3rem;
    margin-bottom: 2.4rem;
}

#sobre p{
    font-size: 1.6rem;
    text-align: left;
    color: var(--secondary-color);
    margin-bottom: 3.4rem;
}


/* CONTATO */

#contato{
    height: 85.1rem;
    background-color: var(--section-green);
    

}

#contato h2{
    padding-top: 6.5rem;
    font-size: 3rem;
    margin-bottom: 5.1rem;
}


#contato p{
    color: var(--secondary-color);
    
}

#contato button{
    margin-top: 5.92rem;
    
}

/* DOJOKUN */
#dojokun{
    height: 50.6rem;
    background-color: var(--section-brown);
    color: white;
}

#dojokun h2{
    text-transform: uppercase;
    padding-top: 3.6rem;
    margin-bottom: 3rem;
}

#dojokun ol{
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
   
    
}
#dojokun ol li{
    margin-bottom: 3.1rem;
    
}

footer{
    height: 28.5rem;
    background-color: var(--section-black);
    color: white;
    
}

footer a{
    display: block;
    color: white;
    margin-bottom: 3.2rem;
    font-weight: bold;
    font-size: 2.4rem;
    padding-top: 5.1rem;
    
}
footer p{
    margin-bottom: 1.2rem ;
    font-size: 1.6rem;
}

footer .icones{
    display: flex;
    gap: 3.2rem;
        
}

footer .icones a{
    margin-top: 2rem;
    padding-top: 0;
    
}


footer .fcontainer{
   
    text-align: left;
    margin-left: 2.1rem;
    
}

/* -------Telas 767--------- */
@media (min-width: 767px){
    
    #header{
        background-color: white;
        width: 100%;
        
              
    }

    #header .container{
        width: 100%;
        display: flex;
        align-items: center;
        
        
    }
    #header .container a{
        color: green;
        
    }

    #header ul{
        display: flex;
        list-style: none;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    #header #show{
        display: flex;
        width: 100%;
                       
    }

      
    #header ul li a{
        
        font-size: 1.6rem;
        
    }

    

    #header .aula{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    background-color: white; 
    border: solid 1px var(--primary-color);
    width: 18.5rem;
    height: 3.8rem;
    color: var(--primary-color);
    border-radius: 4rem;
    margin-right: 2rem;

    }

    #header nav .aula a{ 
        color: var(--primary-color);
        font-size: 1.4rem;
        
    
    }

    #header .alinhar{
        display: none;
    }


    #header img{
        display: none;
    }


    
/* Home conteudo */

#home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55.5rem;
    
    
}

#home .conteudo{
    margin-right: 10px;
}

#home .conteudo h1{
    text-align: left;
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    padding-top: 10rem;

}

#home .conteudo h2{
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 3.3rem;
    font-weight: bold;
}

#home .conteudo p{
    text-align: left;
    margin-bottom: 3.3rem;
    
}

.agendar{
    background-color: var(--primary-color);
    height: 5.2rem;
    width: 22.7rem;
    color: white;
    border-radius: 4rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 7.3rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1px;
    
    
}

#home .conteudo figure{
    margin-bottom: 0rem;
    width: 443px;
    padding-top: 100px;
    
}

    /* SERVIÇOS */

#servicos{
    background-color: var(--section-blue);
    height: 938px;
}

#servicos h2{
    color: var(--primary-color);
    font-size: 2.2rem;
    text-transform: uppercase;
    padding-top: 2.9rem;
    margin-bottom: 1.6rem;
}

#servicos .paragrafo{
   font-size: 3rem; 
   color: var(--secondary-color);
   font-weight: bold;
   text-shadow: var(--secondary-color) 1px 4px 4px;
   margin-bottom: 3rem;
}

.artigos{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    max-width: 136.6rem;
    margin-left: auto;
    margin-right: auto;
    

}

article{
    display: grid;
    border: none;
    background-color: white;
    width: 30.3rem;
    height: 18.3rem;
    padding: 2.4rem;
    border-radius: 0.6rem;
    
    
}

article img{
    background-color: var(--color-check);
    clip-path: circle();
    padding: .50rem;
    
}

article h3{
    font-size: 2.4rem;
    font-weight: bold;
    color: #212529;
}

article p{
    color: var(--secondary-color);
    font-size: 1.6rem;
}




/* SOBRE NOS*/

#sobre{
    height: 900px;
    background-color: var(--section-yellow);
    padding-left: 2.1rem;

}

#sobre h2{
    padding-top: 7.4rem;
    text-align: center;
    color: var(--primary-color);
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#sobre h3{
    font-size: 3rem;
    margin-bottom: 2.4rem;
}

#sobre p{
    font-size: 1.6rem;
    text-align: left;
    color: var(--secondary-color);
    margin-bottom: 3.4rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}





/* CONTATO */

#contato{
    height: 48.6rem;
    background-color: var(--section-green);

}

#contato .container-contato{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contato h2{
    padding-top: 6.5rem;
    font-size: 2.2rem;
    margin-bottom: 5.1rem;
}


#contato .icon-contato img{
    width: 20px;
   
}

#contato .icon-contato p{
    color: var(--secondary-color);
    
}

#contato button{
    margin-top: 5.92rem;
    margin-left: auto;
    margin-right: auto; 
}



/* DOJOKUN */
#dojokun{
    height: 40.6rem;
    background-color: var(--section-brown);
    color: white;
    
}

#dojokun h2{
    text-transform: uppercase;
    padding-top: 3.6rem;
    margin-bottom: 1.8rem;
}

#dojokun .container-dojo{
    display: flex;
    justify-content: center;
}

#dojokun ol{
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    
    
}
#dojokun ol li{
    margin-bottom: 3.1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}



footer{
    height: 28.5rem;
    background-color: var(--section-black);
    color: white;
    
}

footer a{
    display: block;
    color: white;
    margin-bottom: 3.2rem;
    font-weight: bold;
    font-size: 2.4rem;
    padding-top: 5.1rem;
    
}
footer p{
    margin-bottom: 1.2rem ;
    font-size: 1.6rem;
}

footer .icones{
    display: flex;
    gap: 3.2rem;
    margin-top: 3.2rem;
    width: 24px;
    height: 24px;
}

footer .fcontainer{
   display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

       
    
}


/* Telas 1024 */

@media (min-width: 1024px){
    



}


/* break point servicos */
@media (min-width: 1113px){
    #servicos{
        background-color: var(--section-blue);
        height: 700px;
    }   
}

/* Telas 1200px */

@media (min-width: 1200px){
    
}